<!doctype html>
<html lang="en">
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
<header>
    <% include partials/templates/navigation.ejs %>
</header>
<div class="container">
    <h1>Edit a chat room</h1>
    <form method="post">
        <fieldset class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text" class="form-control" value="<%= room.name %>">
            <small class="text-muted">Give your chat room a meaningful name.</small>
        </fieldset>
        <button type="submit" class="btn btn-primary">Save chat room</button>
        <a href="/admin/rooms" class="btn btn-danger">Cancel</a>
    </form>
</div>
</body>
</html>