<!doctype html>
<html lang="en">
<head>
    <% include partials/templates/head.ejs %>
</head>
<body>
<header>
    <% include partials/templates/navigation.ejs %>
</header>
<div class="container">
    <h1>Rooms:</h1>
    <a href="/admin/rooms/add" class="btn btn-primary">Create a new chatroom</a>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th class="info">Delete</th>
                <th class="info">Name</th>
                <th class="info">Edit</th>
                <th class="info">ID</th>
            </tr>
        </thead>
        <tbody>
             <% rooms.forEach(function (room) { %>
             <tr>
                 <td><a href="/admin/rooms/delete/<%= room.id %>"><span class="glyphicon glyphicon-remove"></span></a></td>
                 <td><%= room.name %></td>
                 <td><a href="/admin/rooms/edit/<%= room.id %>"><span class="glyphicon glyphicon-pencil"></span></a></td>
                 <td><%= room.id %></td>
             </tr>
             <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>